{% extends 'base.html.twig' %}

{% block title %}Log in !{% endblock %}

{% block body %}
    <section class="width pt-44 pb-44">
        <div class="pb-32">
            <h2 class="text-center background-title">Login</h2>
            <h1 class="text-center title absolute inset-x-0">Login</h1>
        </div>

        <div class="border-2 border-red-600 rounded-lg">
            <div class="width height">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="text-red-600" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                {% if error %}
                    <div class="text-red-600">{{ error.messageKey }}</div>
                {% endif %}

                <form method="post">
                    <div class="space-y-5">
                        <h3 class="font-oswald text-xl font-bold">Me connecter</h3>

                        <div>
                            <label for="inputEmail">Email :</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div>
                            <label for="inputPassword">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <div class="text-center">
                        <button class="button" type="submit">
                            Me connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
