{% extends 'base.html.twig' %}

{% block title %}Log in !{% endblock %}

{% block body %}
    <section class="width pt-12 pb-32 md:pt-16 md:pb-32 xl:pt-44 xl:pb-20">
        <div class="pb-32">
            <h2 class="text-center background-title">Forgotten Password</h2>
            <h1 class="text-center title absolute inset-x-0">Forgotten Password</h1>
        </div>

        <div class="border-2 border-red-600 rounded-lg">
            <div class="width height">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="text-red-600" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="space-y-5">
                    <h3 class="font-oswald text-xl font-bold">Mot de passe oublié</h3>
                    {{ form_start(passForm) }}
                        {{ form_row(passForm.password) }}
                        <div class="text-center">
                            <button class="button button-submit" type="submit">
                                Réinitialiser
                            </button>
                        </div>
                    {{ form_end(passForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
