<h1>Vous souhaitez réinitialiser votre mot de passe !</h1>

<p> Bienvenue {{ user.name }} sur le site SnowTricks !</p>
<p>
    Pour modifier votre mot de passe, merci de cliquer sur ce lien : <br><br>
    <a href="{{ url|raw }}">Réinitialiser mon mot de passe</a>.
</p>

<p>
    Cheers!
</p>