{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <figure class="relative">
            <img src="{{ asset('img/image-accueil.jpg') }}" alt="" class="relative">
            <figcaption class="absolute top-2/4 left-2/4 text-red-600 background-title">SnowTricks</figcaption>
            <figcaption class="absolute top-2/4 left-2/4 font-black title">SnowTricks</figcaption>
            <img src="{{ asset('img/fleche-vers-le-bas.png') }}" alt="" class="absolute bottom-10 right-10 w-10">
        </figure>
    </div>
{% endblock %}
