{% for message in messages %}
    <div class="{% if messages|length != 1 %}border-b-2 border-gray-600{% endif %}" id="messages">
        <div class="space-y-5 p-10">
            <div class="flex items-center pb-3 border-b-2 border-red-600 justify-between">
                <div class="flex items-center gap-x-3">
                    <img src="{{ asset( message.user.picture) }}" alt="image de profil de l'auteur" class="rounded-full w-10">
                    <p class="text-red-600">{{ message.user.name }}</p>
                </div>

                <p>{{ message.creationDate|date('d/m/Y') }}</p>
            </div>

            <p>Message :</p>
            <h2>{{ message.content }}</h2>
        </div>
    </div>
{% endfor %}