{# Ajouter un bouton pour ajouter un nouveau champ de vidéo #}
{{ form_row(form.file) }}
{{ form_row(form.alt) }}
<button type="button" class="text-white bg-red-600 py-3 px-5 btn-remove mb-5" id="remove-picture">Supprimer</button>