{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <section class="width pb-32 md:pt-16 md:pb-32 xl:pt-44 xl:pb-20">
        <div class="pb-32">
            <h2 class="text-center background-title">Créer une figure</h2>
            <h1 class="text-center title absolute inset-x-0">Créer une figure</h1>
        </div>

        <div class="border-2 border-red-600 rounded-lg mb-5">
            <div class="width height">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="text-red-600" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="space-y-5">
                    <h3 class="font-oswald text-xl font-bold">Créer une nouvelle figure</h3>
                    {{ include('trick/_form.html.twig') }}
                </div>
            </div>
        </div>

        <a href="{{ path('app_homepage') }}">Retour à la liste des tricks</a>
    </section>
{% endblock %}
